@import '../../globals/theme/ics-theme';
@import '~carbon-components/src/components/tag/_tag.scss';
@import '../../globals/type/ics-typography';
@import '../../globals/bidi/bidi';

.#{$prefix}--tag--list {
  direction: $direction;
}

.#{$prefix}--tag {
  @include type-scale-item(b, false);
  direction: $direction;
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  margin: rem(3px);
  border-radius: rem(25px);
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: rem(25px);
  transition: all 0.35s ease-in;

  &:not(:first-child) {
    @include bidi-margin-left(0);
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $inverse-01, 0 0 0 2px $brand-01;
  }
}

.#{$prefix}--tag--basic {
  @include tag-theme($ui-01, $text-01);
}

.#{$prefix}--tag--dark {
  @include tag-theme($field-01, $text-01);
}

.#{$prefix}--remove__icon,
.#{$prefix}--add__icon {
  @include bidi-margin-left(rem(10px));
}

.#{$prefix}--tag--light {
  @include tag-theme($inverse-01, $text-01);
}

/*Background*/
.#{$prefix}--tag--container-dark {
  background-color: $ui-03;
  padding: rem(32px);
}

/*Tags specific for the design guide*/
.#{$prefix}--tag--not-ready {
  @include tag-theme($support-01, $ui-01);
}

.#{$prefix}--tag--ready {
  @include tag-theme($support-02, $text-01);
}

.#{$prefix}--tag--beta {
  @include tag-theme($support-03, $text-01);
}

.#{$prefix}--tag--circle.#{$prefix}--tag--beta {
  border: 2px solid $support-03;
  background-color: transparent;
}

.#{$prefix}--tag--item {
  position: relative;
}

.#{$prefix}--tag--left {
  cursor: pointer;
  height: rem(24px);
  width: rem(24px);
  position: absolute;
  top: rem(7px);
  border: 1px solid transparent;
  border-radius: 50%;
  transition: all 0.35s ease-in;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $brand-01, 0 0 0 2px $inverse-01;
  }

  + span {
    position: relative;
    @include bidi-left(rem(32px));
  }
}

.#{$prefix}--tag--left__success {
  fill: $brand-01;
}

.#{$prefix}--tag--left__st {
  stroke: $text-01;
  stroke-width: 1;
}

.#{$prefix}--tag--left__remove,
.#{$prefix}--tag--left__add {
  fill: $text-01;

  &:hover {
    fill: $brand-01;
    .#{$prefix}--tag--left__st {
      stroke: $brand-01;
    }
  }
}
