$hint-transition: all 0.35s cubic-bezier(0.34, -0.61, 1, 0.64);

@mixin hint-transition {
  -webkit-transistion: $hint-transition;
  transition: $hint-transition;
}

@mixin left-right {
  display: flex;
  align-items: center;
}
