@import '../../globals/theme/ics-theme';
@import 'carbon-components/src/components/pagination/pagination';
@import '../../globals/type/ics-typography';
@import 'mixins';

// Nested atoms
@import '../Button/button';
@import '../Tabs/tabs';

@include exports('pagination--ics') {
  .#{$prefix}--pagination__hint {
    @include type-scale-item(b, false);
    @include hint-transition;
    opacity: 0;
    text-align: center;
    width: 100%;
    top: rem(64px);
    position: absolute;
    color: $ui-05;
  }

  .#{$prefix}--pagination {
    @include reset;
    width: 100%;
    border: none;

    &:hover > .#{$prefix}--pagination__hint,
    &:focus > .#{$prefix}--pagination__hint {
      opacity: 1;
      height: 100%;
    }
  }

  .#{$prefix}--pagination__center {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    margin: 0 rem(4px);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: absolute;
    max-width: rem(186px);
    @include bidi-left(rem(80px));
  }

  .#{$prefix}--pagination__left {
    position: absolute;
    @include bidi-left(0);
  }

  .#{$prefix}--pagination__right {
    position: absolute;
    @include bidi-left(rem(264px));
  }

  .#{$prefix}--pagination__text {
    @include type-scale-item(a, false);
    color: $text-01;
  }

  .#{$prefix}--pagination__page-item {
    display: inline-block;
    padding: rem(4px);
    margin: 0 rem(8px);
    border-radius: 4px;
    border: 1px solid transparent;

    &:focus {
      outline: none;
      border: 1px solid $brand-01;
    }

    &:hover {
      cursor: pointer;
      color: $inverse-01;
      background: $brand-01;
    }
  }

  .#{$prefix}--pagination__page-list {
    display: flex;
    color: $ui-05;
  }

  .#{$prefix}--pagination__button {
    border-radius: 50%;
    height: rem(32px);
    width: rem(32px);
    padding: 0;
    margin: rem(4px);
    &:hover {
      .#{$prefix}--pagination__button-icon {
        fill: $inverse-01;
      }
    }
  }

  .#{$prefix}--pagination__button-icon {
    height: rem(24px);
    width: rem(24px);
    fill: $ui-05;
    position: relative;
    top: rem(2px);
  }

  .#{$prefix}--tabs__page-item--selected {
    border: 1px solid $brand-01;

    &::before {
      content: ' ';
      height: rem(4px);
      background: $brand-01;
    }
  }
}
