@import '../../globals/theme/ics-theme';
@import '../../globals/type/ics-typography';
@import 'mixins';

// Nested atoms
@import '../Button/button';
@import '../Tabs/tabs';

@include exports('pagination--ics') {
  .#{$prefix}--pagination {
    @include reset;
    width: 100%;
    border: none;
    @include type-scale-item(c);
  }

  .#{$prefix}--pagination__center {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    max-width: rem(186px);
    @include bidi-left(rem(78px));
  }

  .#{$prefix}--pagination__left {
    position: absolute;
    @include bidi-left(0);
    @include bidi-margin-right(15px);
  }

  .#{$prefix}--pagination__right {
    position: absolute;
    @include bidi-left(rem(236.05px));
  }

  .#{$prefix}--pagination__page-item {
    display: inline-block;
    padding: 0 rem(4px);
    margin: 0 rem(5px);
    border-radius: 4px;
    border: 1px solid transparent;

    &:focus {
      outline: none;
      border: 1px solid $brand-01;
    }

    &:hover {
      cursor: pointer;
      color: $inverse-01;
      background: $brand-01;
    }
  }

  .#{$prefix}--pagination__page-list {
    display: flex;
    color: $text-01;
  }

  .#{$prefix}--pagination__button--rewind {
    .#{$prefix}--pagination__tooltip-icon {
      @include bidi-right(2px);
    }
  }

  .#{$prefix}--pagination__button {
    border: 1px solid $field-01;
    margin: 0 rem(5px);
    border-radius: 50%;
    height: rem(24px);
    width: rem(24px);
    padding: 0;
    &:hover {
      background: $brand-01;
      border-color: $brand-01;
      .#{$prefix}--tooltip__icon {
        fill: $inverse-01;
        border-radius: 50%;
      }
    }

    &:focus {
      outline: none;
      box-shadow: none;
      border: none;
    }
  }

  .#{$prefix}--pagination__button-icon {
    .#{$prefix}--tooltip__icon {
      height: rem(24px);
      width: rem(24px);
      fill: $ui-05;
      position: relative;
      border-radius: 50%;
      bottom: rem(1px);
      @include bidi-right(9px);
      border: 1px solid $field-01;
    }
  }

  .#{$prefix}--tabs__page-item--selected {
    border: 1px solid $brand-01;
    @include type-scale-item(d, false);
    color: $brand-01;

    &::before {
      content: ' ';
      height: rem(4px);
      background: $brand-01;
    }
  }
}
