@import '../../globals/theme/ics-theme';
@import 'carbon-components/src/components/pagination/pagination';
@import '../../globals/type/ics-typography';
@import 'mixins';

// Nested atoms
@import '../Button/button';
@import '../Tabs/tabs';

@include exports('pagination--ics') {
  .#{$prefix}--pagination__hint {
    @include type-scale-item(b, false);
    @include hint-transition;
    opacity: 0;
    text-align: center;
    width: 100%;
    bottom: 0px;
    position: absolute;
    color: $ui-05;
    text-align: center;
  }

  .#{$prefix}--pagination {
    @include reset;
    width: 100%;
    border: none;
    background: transparent;

    &:hover + .#{$prefix}--pagination__hint,
    &:focus + .#{$prefix}--pagination__hint {
      opacity: 1;
      height: 100%;
    }

    .#{$prefix}--tabs__nav {
      justify-content: center;
    }
  }

  .#{$prefix}--pagination__center {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    margin: 0 rem(4px);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;
  }

  .#{$prefix}--pagination__right {
    @include left-right;
  }

  .#{$prefix}--pagination__text {
    @include type-scale-item(a, false);
    color: $text-01;
  }

  .#{$prefix}--pagination__page-item {
    display: inline-block;
    padding: rem(4px);
    margin: 0 rem(8px);
    border-radius: 4px;
    border: 1px solid transparent;
  }

  .#{$prefix}--pagination__button-icon {
    position: relative;
    top: 1px;
    fill: $brand-01;
  }

  .#{$prefix}--pagination__button--backward {
    .#{$prefix}--pagination__button-icon {
      transform: rotate(180deg);
      right: 1px;
    }
  }

  .#{$prefix}--pagination__button--forward {
    margin-left: rem(28px);
    margin-right: rem(20px);
    .#{$prefix}--pagination__button-icon {
      left: 1px;
    }
  }

  .#{$prefix}--pagination__page {
    border-radius: 4px;
    padding: 0 8px;
  }

  .#{$prefix}--pagination__page-ellipsis {
    border-bottom: none;
    line-height: 2;
  }
}
