@import '../../globals/theme/ics-theme';
@import 'carbon-components/src/components/notification/_toast-notification.scss';
@import 'mixins';
@import '../../globals/type/ics-typography';
@import '../../globals/icons/icon-reset';
@import '../../globals/layer/ics-layer';

@include exports('toast-notification--ics') {
  .#{$prefix}--toast-notification {
    @include type-scale-item(b, false);
    @include layer('sticky-nav');
    @include border-radius-type(b);
    background-color: $ui-01;
    padding: rem(8px) rem(16px);
    min-height: rem(40px);
    margin: 1rem 14px;
    display: flex;
    border: 2px solid rgba($ui-05, 0.3);
    max-width: 740px;
    position: relative;
    width: auto;
  }

  .#{$prefix}--toast-notification--error {
    @include notification--color($support-01, $ui-05);
  }

  .#{$prefix}--toast-notification--success {
    @include notification--color($support-02, $ui-05);
  }

  .#{$prefix}--toast-notification--info {
    @include notification--color($support-04, $ui-05);
  }

  .#{$prefix}--toast-notification--warning {
    @include notification--color($support-03, $ui-05);
  }

  .#{$prefix}--toast-notification__details {
    display: flex;
    align-items: center;
  }

  .#{$prefix}--toast-notification__icon {
    height: 20px;
    width: 20px;
    flex: 0 0 20px;
    position: relative;
    top: auto;
    right: auto;
  }

  .#{$prefix}--toast-notification__text-wrapper {
    flex-wrap: wrap;
    margin: 0 rem(16px) 0 rem(12px);
    align-items: center;
    display: block;

    @media (max-width: 640px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .#{$prefix}--toast-notification__title {
    @include type-scale-item(b, false);
    font-weight: 600;
    margin-right: 0.25rem;
    display: inline;
  }

  .#{$prefix}--toast-notification__subtitle {
    @include type-scale-item(b, false);
    color: $text-01;
    display: inline;
  }

  .#{$prefix}--toast-notification__link {
    @include type-scale-item(b, false);
    font-weight: 600;
    margin-left: rem(8px);
    text-decoration: none;
    display: inline;

    &:hover {
      text-decoration: underline;
    }
  }

  .#{$prefix}--toast-notification__toast-icon-container {
    position: relative;
    height: 12px;
    width: 16px;
    display: inline-block;
    margin: 0 rem(4px);
  }

  .#{$prefix}--toast-notification__toast-icon {
    position: absolute;
    top: -1px;
    overflow: visible;
  }

  .#{$prefix}--toast-notification__close-button {
    background-color: transparent;
    padding: 0;
    height: auto;
    width: auto;
    margin-left: rem(8px);
    margin-top: rem(2px);
    position: absolute;
    @include bidi-right(14px);
  }

  .#{$prefix}--toast-notification__close-icon {
    @include icon-reset;
    fill: $text-02;
    height: 16px;
    width: 16px;
  }

  .#{$prefix}--toast-notification--long {
    padding: rem(12px) rem(24px);
  }
}
