# dependencies
node_modules
.npmrc

# log files
*.log

# docs
.gh-pages
.DS_Store

# distribution files
lib
es
storybook-static
/scss

# a11y files
a11y/results

# we yarn folks here
package-lock.json

# IDE
.idea/

# jest
__snapshots__
coverage