$prefix: 'bx' !default;

$bx--ease-in: cubic-bezier(0.25, 0, 1, 1); // Used primarily for removing elements from the screen.
$bx--ease-out: cubic-bezier(
  0,
  0,
  0.25,
  1
); // Used for adding elements to the screen or changing on-screen states at a users's input.
$bx--standard-easing: cubic-bezier(0.5, 0, 0.1, 1); // Used for the majority of animations.
$transition--base: 250ms;
$transition--expansion: 300ms;

// Color Theme Variables
$brand-01: #3c6df0 !default; // ultramarine-50
$brand-02: #1d3458 !default; // blue-80
$brand-03: #40d5bb !default; // teal-20
$inverse-01: #ffffff !default; // white
$ui-01: #ffffff !default; // white
$ui-02: #ffffff !default; // white
$ui-03: #f9f9f9 !default; // neutral-white-2
$ui-04: #d8d8d8 !default; // gray-10
$ui-05: #777677 !default; // gray-50
$text-01: #000000 !default; // black-100
$text-02: #777677 !default; // gray-50
//$text-03: $color__navy-gray-6 !default;
$field-01: transparent !default; // neutral-white-2
$support-01: #ff5c49 !default; // red-40
$support-02: #34bc6e !default; // green-30
$support-03: #e3bc13 !default; // yellow-20
$support-04: #3c6df0 !default; // ultramarine-50

// Global
$input-border: 1px solid $ui-04 !default;
$input-label-weight: 500 !default;

// Button Theme Variables
$button-font-weight: 400 !default;
$button-font-size: 0.875rem !default;
$button-border-radius: 2rem !default;
$button-height: 36px !default;
$button-padding: 0.4375rem 1.375rem !default;
$button-padding-sm: 0.4375rem 1.375rem !default;
$button-border-width: 1px !default;

// Card
$card-text-align: center !default;
$card-flex-align: center !default;

// Checkbox
$checkbox-border-width: 2px !default;

// Data Table
$data-table-heading-transform: uppercase !default;
$data-table-heading-border-bottom: 1px solid $brand-01 !default;
$data-table-row-height: 2rem !default;

// Modal
$modal-footer-background-color: $inverse-01 !default;

// Radio Button
$radio-border-width: 2px !default;
