@import '../../globals/theme/ics-theme';
@import 'carbon-components/src/components/button/_button.scss';
@import '../../globals/type/ics-typography';
@import 'mixins';

@include exports('button--ics') {
  // Reset intrisic padding in Firefox (see #731)
  button.#{$prefix}--btn::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // Vertically center icon inside <button>
  button.#{$prefix}--btn .#{$prefix}--btn__icon {
    position: relative;
    vertical-align: middle;
    top: -1px;

    // Targets IE10+ browsers: Reset <svg> position for vertical centering
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      top: 0;
    }
  }

  .#{$prefix}--btn {
    @include button-base;
    transition: background-color $transition--base $bx--ease-in,
      color $transition--base $bx--ease-in, border-color $transition--base $bx--ease-in,
      box-shadow $transition--base $bx--ease-in;
  }

  .#{$prefix}--btn--primary {
    @include button-theme($brand-01, transparent, $inverse-01, $ui-01);

    &:focus {
      @include button-double-border($inverse-01, $brand-01, 2px);
      background: $brand-01;
    }

    &:hover {
      @include button-single-border($brand-01, $inverse-01, $brand-01);
    }

    &:active {
      @include button-darken($brand-01, $inverse-01);
    }

    &:disabled,
    &:disabled:hover {
      background: desaturate(lighten($brand-01, 20), 70);
      color: $ui-01;
      border-color: desaturate(lighten($brand-01, 20), 70);
    }
  }

  .#{$prefix}--btn--secondary {
    @include button-theme(transparent, transparent, $text-01, $text-01);

    @include button-single-border($ui-05, transparent, $text-01);

    &:focus {
      @include button-double-border($inverse-01, $ui-05, 2px);
      background: transparent;
      color: $text-01;
      border-color: $ui-05;
    }

    &:hover {
      background: $ui-05;
      color: $inverse-01;
      border-color: $ui-05;
    }

    &:active {
      @include button-darken($ui-05, $inverse-01);
    }

    &:disabled,
    &:disabled:hover {
      @include button-single-border($ui-05, $inverse-01, $ui-05);
      opacity: 0.8;
    }

    &:hover > .#{$prefix}--btn__icon {
      fill: $inverse-01;
    }
  }

  .#{$prefix}--btn--ghost {
    @include button-theme(transparent, transparent, $brand-01, $brand-01);

    &:focus {
      @include button-double-border($inverse-01, $brand-01, 2px);
      background: transparent;
      color: $brand-01;
    }

    &:hover {
      background: $brand-01;
      color: $inverse-01;
    }

    &:active {
      @include button-darken($brand-01, $inverse-01);
    }

    &:disabled,
    &:disabled:hover {
      color: $ui-05;
      opacity: 0.8;
      background: $inverse-01;
    }
  }

  .#{$prefix}--btn--ghost--secondary {
    @include button-theme(transparent, transparent, $text-01, $text-01);

    &:focus {
      @include button-double-border($inverse-01, $ui-05, 2px);
    }

    &:hover {
      background: $ui-05;
      color: $inverse-01;
    }

    &:active {
      @include button-darken($ui-05, $inverse-01);
    }

    &:disabled,
    &:disabled:hover {
      color: $ui-05;
      opacity: 0.8;
      background: $inverse-01;
    }
  }

  .#{$prefix}--btn--secondary + .#{$prefix}--btn--primary {
    margin-left: 1rem;
  }
}
