@mixin button-base {
  @include type-scale-item('b', false);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: $button-padding;
  border-radius: $button-border-radius;
  height: $button-height;
  text-align: center;
  text-decoration: none;
  transition-timing-function: ease-in;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
  }

  .#{$prefix}--btn__icon {
    width: rem(16px);
    height: rem(16px);
    margin-left: 0.5rem;
    transition-timing-function: ease-in;
  }
}

@mixin button-theme($bg-color, $border-color, $font-color, $icon-color) {
  background-color: $bg-color;
  border-width: $button-border-width;
  border-style: solid;
  border-color: $border-color;
  color: $font-color;

  &:focus {
    outline: none;
  }

  .#{$prefix}--btn__icon {
    fill: $icon-color;
  }
}

@mixin button-double-border($inner-border-color, $outer-border-color, $outer-border-width) {
  box-shadow: 0 0 0 1px $inner-border-color, 0 0 0 $outer-border-width $outer-border-color;
  border-color: transparent;
}

@mixin button-single-border($outer-border-color, $background, $text-color) {
  border-color: $outer-border-color;
  background: $background;
  color: $text-color;
}

@mixin button-darken($background, $text-color) {
  background-color: darken($background, 20%);
  border-color: darken($background, 20%);
  box-shadow: 0 0 0 1px darken($background, 20%);
  color: $text-color;
}
