@import '../../globals/theme/ics-theme';
@import 'carbon-components/src/components/text-area/_text-area.scss';
@import '../../globals/type/ics-typography';
@import '../UnderlineMotion/underline-motion';

// Child atoms
@import '../Form/form';

@include exports('text-area--ics') {
  .#{$prefix}--text-area {
    @include type-scale-item(c, false);
    display: block;
    border: none;
    padding: 1rem 0;
    background: $field-01;
    border-bottom: $input-border;

    &:not(:placeholder-shown) {
      border-bottom-color: $text-02;
    }

    &:focus {
      outline: none;
      box-shadow: none;
      @include mi-underline-focus;
    }

    &:disabled {
      &:hover {
        border: none;
        border-bottom: $input-border;
      }
    }
  }

  .#{$prefix}--text-area__container {
    ~ .#{$prefix}--label {
      position: absolute;
      left: 0;
      top: rem(-20px);
    }
  }
}
