@import '../../globals/theme/ics-theme';
@import '~carbon-components/src/components/radio-button/_radio-button.scss';
@import '../../globals/type/ics-typography';
@import '../../globals/bidi/bidi';

@include exports('radio-button--ics') {
  .#{$prefix}--radio-button-group {
    direction: $direction;
    flex-direction: column;
    align-items: flex-start;
    margin-top: rem(6px);
  }
  .#{$prefix}--radio-button__label {
    @include type-scale-item(b, false);
    @include bidi-margin-left(0);
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .#{$prefix}--radio-button__appearance {
    height: rem(18px);
    width: rem(18px);
    @include bidi-margin-right(0.5rem);
  }

  .#{$prefix}--radio-button:checked
    + .#{$prefix}--radio-button__label
    .#{$prefix}--radio-button__appearance {
    border-color: $ui-05;

    &:before {
      width: rem(10px);
      height: rem(10px);
      background-color: $ui-05;
    }
  }

  .#{$prefix}--radio-button:focus
    + .#{$prefix}--radio-button__label
    .#{$prefix}--radio-button__appearance,
  .#{$prefix}--radio-button:hover
    + .#{$prefix}--radio-button__label
    .#{$prefix}--radio-button__appearance {
    box-shadow: 0 0 0 2px $inverse-01, 0 0 0 3px $brand-01;
  }

  .#{$prefix}--radio-button:disabled + .#{$prefix}--radio-button__label,
  .#{$prefix}--radio-button:disabled
    + .#{$prefix}--radio-button__label
    .#{$prefix}--radio-button__appearance {
    box-shadow: none;
  }
}
