@import '../../globals/theme/ics-theme';
@import '~carbon-components/src/components/card/_card.scss';
@import '../../globals/type/ics-typography';
@import '../../globals/bidi/bidi';
@import '../../globals/layer/ics-layer';

// Nested atoms
@import '../Button/button';

@include exports('card--ics') {
  .#{$prefix}--card {
    @include layer('raised');
    direction: $direction;
    width: auto;
    height: auto;
    border-radius: rem(2px);
    margin-bottom: 1rem;
  }

  .#{$prefix}--card__card-overview {
    padding: 1rem;
    height: auto;
  }

  .#{$prefix}--card__image {
    max-width: 100%;
  }

  .#{$prefix}--card__title {
    @include type-scale-item('b', false);
    font-weight: 600;
    margin: 0;
  }

  .#{$prefix}--card__info {
    @include type-scale-item('a', false);
    @include bidi-text-align;
    padding: 0;
    margin: 0;
    color: $text-02;

    &:first-child {
      padding-top: 0.25rem;
    }
  }

  .#{$prefix}--card-content {
    @include type-scale-item('b', false);
    word-wrap: break-word;
  }

  .#{$prefix}--card__business-card {
    display: flex;
    justify-content: flex-start;
    @include bidi-text-align;
  }

  .#{$prefix}--card__business-card__title {
    font-weight: 400;
    margin: auto 0;
    @include bidi-padding-left(rem(8px));
  }

  .#{$prefix}--card-footer {
    background-color: $ui-01;
    border-top: 1px solid $ui-03;
    padding: 1rem;
    height: auto;
  }

  .#{$prefix}--about__title--name {
    @include type-scale-item('b', false);
    font-weight: 600;
    @include bidi-text-align;
  }

  .#{$prefix}--about__icon {
    .#{$prefix}--about__icon--img {
      width: rem(50px);
      height: rem(50px);
      border-radius: 50%;
    }
  }
}
