@import '../../globals/theme/ics-theme';
@import '~carbon-components/src/components/file-uploader/_file-uploader.scss';
@import 'carbon-components/src/globals/scss/css--helpers';
@import '../../globals/type/ics-typography';
@import '../Button/button';
@import '../Form/form';

@include exports('file-uploader--ics') {
  .#{$prefix}--label-description {
    @include type-scale-item(a, false);
  }

  .#{$prefix}--label-detail {
    display: flex;
    flex-direction: row;
  }

  .#{$prefix}--file {
    &:focus {
      outline: none;

      > label {
        box-shadow: 0px 0px 0px 1px $inverse-01, 0px 0px 0px 2px $ui-05;
      }
    }
  }
}
