@import '../../globals/theme/ics-theme';
@import 'carbon-components/src/components/number-input/number-input';
@import '../../globals/type/ics-typography';
@import '../UnderlineMotion/underline-motion';
@import '../../globals/bidi/bidi';

// Child atoms
@import '../Form/form';

@include exports('number-input--ics') {
  .#{$prefix}--number-input__wrapper {
    position: relative;
  }

  .#{$prefix}--number {
    @include reset;
    display: flex;
  }

  .#{$prefix}--number input[type='number'] {
    @include fixedTypePrescription(c, false);
    box-sizing: border-box;
    display: inline-flex;
    width: 100%;
    min-width: 9.375rem;
    padding: 0 0 rem(6px);
    height: auto;
    color: $text-01;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $ui-04;

    &:focus,
    &:active {
      outline: none;
      @include mi-underline-focus;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:disabled ~ .#{$prefix}--number__controls {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  .#{$prefix}--number input[type='number'] {
    appearance: textfield; // Firefox: Hide spinner (up and down buttons)

    &::-ms-clear {
      display: none; // IE: Hide "clear-field" `x` button on input field
    }

    &::-webkit-inner-spin-button {
      appearance: none; // Safari: Hide number spinner
    }
  }

  .#{$prefix}--number__controls {
    @include reset;
    position: relative;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .#{$prefix}--number__control-btn {
    @include button-reset;
    position: relative;
    bottom: 0;
    width: rem(20px);
    height: rem(20px);

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover svg {
      border: 1px solid $brand-01;
      border-radius: 4px;
    }
  }

  .#{$prefix}--number__controls svg {
    @include icon-reset('small');
    fill: $brand-01;

    // Hover styles for use with old HTML w/o button
    &:hover {
      cursor: pointer;
      border: 1px solid $brand-01;
      border-radius: 4px;
    }
  }
}

.#{$prefix}--number[data-invalid] {
  input[type='number'] {
    box-shadow: 0 2px 0px 0px $support-01;
  }
  ~ .#{$prefix}--form-requirement {
    max-height: rem(200px);
  }
}
