// Box shadow variables
$box-shadow--2: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
$box-shadow--4: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
$box-shadow--8: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.1);
$box-shadow--16: 0 8px 16px 0 rgba(0, 0, 0, 0.15),
  0 16px 16px 0 rgba(0, 0, 0, 0.05);
$box-shadow--24: 0 16px 24px 0 rgba(0, 0, 0, 0.1),
  0 24px 24px 0 rgba(0, 0, 0, 0.05);

// Layer box-shadow map
$layer-shadows: (
  base: none,
  flat: none,
  raised: $box-shadow--2,
  overlay: $box-shadow--4,
  pop-out: $box-shadow--8,
  temporary-nav: $box-shadow--16,
  sticky-nav: $box-shadow--24,
);

// Layer mixin
@mixin layer($layer) {
  @if global-variable-exists('ics--use-layer') ==
    false or
    $ics--use-layer ==
    true
  {
    @if map-has-key($layer-shadows, $layer) {
      box-shadow: #{map-get($layer-shadows, $layer)};
    } @else {
      @warn '#{$layer} is not a valid layer.';
    }
  }
}
