@import '../../globals/theme/ics-theme';
@import 'carbon-components/src/components/data-table/data-table';
@import '../../globals/type/ics-typography';
@import '../../globals/icons/icon-reset';

// Child atoms
@import '../Checkbox/checkbox';
@import '../OverflowMenu/overflow-menu';

@include exports('table--ics') {
  .#{$prefix}--responsive-table {
    border: none;

    td {
      @include type-scale-item(b, false);
      padding: rem(16px) rem(32px);
    }
    th {
      padding: rem(16px) rem(32px);
      @include type-scale-item(a, false);
      color: $ui-05;
      white-space: nowrap;
    }
  }

  .#{$prefix}--responsive-table--static-size {
    border: 2px solid $ui-04;
  }

  .#{$prefix}--table-nowrap {
    white-space: nowrap;
  }

  .#{$prefix}--table-header {
    @include type-scale-item(a, false);
  }

  .#{$prefix}--table-header-content {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 2px;

    &:hover {
      color: $inverse-01;
      background: $brand-01;
      border-color: $brand-01;

      svg {
        fill: $inverse-01;
      }
    }

    &:focus {
      background-color: transparent;
      color: $text-01;
      outline: 1px solid transparent;
      border-color: $brand-01;

      svg {
        fill: $text-01;
      }
    }
  }

  .#{$prefix}--table-body .#{$prefix}--table-row {
    border: 1px solid transparent;

    &:first-child:hover,
    &:first-child:focus {
      border: none;
      outline: none;
    }

    &:not(:first-child):hover,
    &:not(:first-child):focus {
      border: none;
      outline: none;
    }
  }

  .#{$prefix}--table-num-val {
    text-align: right;
  }

  .#{$prefix}--table-sort__svg {
    @include icon-reset('sml');
  }
}
