@import '../../globals/theme/ics-theme';
@import 'carbon-components/src/components/tooltip/_tooltip.scss';
@import '../../globals/type/ics-typography';
@import '../../globals/bidi/bidi';
@import '../../globals/icons/icon-reset';

// Child atoms
@import '../Form/form';

$focused-box-shadow: 0px 0px 0px 1px $inverse-01, 0px 0px 0px 2px $brand-01;

@include exports('tooltip--ics') {
  .#{$prefix}--tooltip__icon {
    @include icon-reset('small');
    direction: $direction;
    border-radius: rem(2px);
    cursor: pointer;
    transition: all 0.35s ease-in;
  }

  .#{$prefix}--tooltip__trigger {
    @include type-scale-item(c, false);
    font-weight: 600;
    direction: $direction;
    @include bidi-text-align;
    &:hover,
    &:focus {
      svg {
        path,
        polygon,
        circle {
          fill: $inverse-01;
        }
        outline: none;
      }
    }
    &:focus {
      outline: none;
      box-shadow: $focused-box-shadow;
    }

    svg {
      path,
      polygon,
      circle {
        fill: $text-01;
      }
      margin: 0 rem(8px);
    }
  }

  .#{$prefix}--tooltip__icon-container {
    line-height: 0;
    &:focus {
      outline: none;
      svg {
        box-shadow: $focused-box-shadow;
      }
    }
  }

  .#{$prefix}--tooltip {
    direction: $direction;
    margin-top: rem(8px);
  }

  .#{$prefix}--tooltip--simple {
    direction: $direction;
  }

  // Simple CSS only tooltip
  .#{$prefix}--tooltip--simple__top,
  .#{$prefix}--tooltip--simple__bottom {
    &:focus {
      svg {
        outline: none;
        box-shadow: 0px 0px 0px 1px $inverse-01, 0px 0px 0px 2px $brand-01;
      }
    }

    svg {
      fill: $text-01;

      &:hover {
        outline: none;
        fill: $brand-01;
      }
    }

    &:before {
      padding: 0.4rem;
      left: 0;
    }
  }
}
