@import '../../globals/theme/ics-theme';
@import '~carbon-components/src/globals/scss/helper-mixins';
@import '~carbon-components/src/globals/scss/import-once';
@import '../../globals/type/ics-typography';

@include exports('module--ics') {
  .#{$prefix}--module {
    @include reset;
    @include font-family;
    background-color: $ui-01;
    display: flex;
    flex-direction: column;
    padding: 0;
    flex: 1 0 auto;
    margin: 0;

    .#{$prefix}--module__inner {
      border: 1px solid transparent;
    }

    .#{$prefix}--module__header {
      display: flex;
      align-items: center;
      padding: rem(24px) 0 rem(16px) 0;
      border-bottom: 1px solid $ui-04;
    }

    .#{$prefix}--module__title {
      @include type-scale-item(d, false);
      color: $text-01;
    }

    .#{$prefix}--module__content {
      @include type-scale-item(c, false);
      display: flex;
      flex-direction: column;
      flex: 3;
      padding: rem(24px) 0 rem(32px) 0;

      p {
        @include type-scale-item(c, false);
      }
    }

    .#{$prefix}--module__content--centered {
      align-items: center;
      justify-content: center;
      padding: 5rem;
    }

    .#{$prefix}--module__content--scrollable {
      max-height: rem(300px);
      overflow-y: scroll;
      margin-bottom: 2rem;
    }

    &.#{$prefix}--module--single {
      max-width: rem(500px);
    }

    &.#{$prefix}--module--fluid {
      width: 100%;
    }

    &.#{$prefix}--module--padding {
      padding: 0 rem(32px);
    }
  }
}
