@import '../../globals/theme/ics-theme';
@import '~carbon-components/src/components/overflow-menu/_overflow-menu.scss';
@import '../../globals/type/ics-typography';
@import '../../globals/icons/icon-reset';
@import '../../globals/layer/ics-layer';

@include exports('overflow-menu--ics') {
  .#{$prefix}--overflow-menu {
    cursor: pointer;
    height: rem(32px);
    min-width: rem(32px);
    border: 1px solid transparent;
    border-radius: rem(4px);
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
      outline: 1px solid transparent;
      border: 1px solid $brand-01;
      border-radius: rem(4px);
    }

    &:hover {
      .#{$prefix}--overflow-menu__icon {
        fill: $ui-01;
      }

      background: $brand-01;
      box-shadow: 0px 0px 0px 1px $brand-01, 0px 0px 0px 2px $brand-01;
    }
  }

  .#{$prefix}--overflow-menu__icon {
    padding: 0;
    fill: $text-01;
    @include icon-reset;
  }

  .#{$prefix}--overflow-menu__link {
    padding: rem(8px) rem(16px);
    border-radius: rem(4px);
    color: $text-02;
    @include type-scale-item(b, false);

    &:hover,
    &:focus {
      background: $brand-01;
      color: $ui-01;
    }
  }

  .#{$prefix}--overflow-menu-options {
    @include layer('overlay');
    border: none;
    left: -20px;

    &::before {
      content: none;
    }
  }

  .#{$prefix}--overflow-menu-options--open {
    margin-top: rem(12px);
    padding: 0;

    &:focus {
      outline: 1px solid transparent;
    }
  }

  .#{$prefix}--overflow-menu-options__btn {
    border: 1px solid transparent;
    padding: rem(10px) rem(24px);
    @include type-scale-item(b, false);

    &:focus {
      outline: none;
      border-top: 1px solid $brand-01;
      border-bottom: 1px solid $brand-01;
      background-color: transparent;
      color: $text-01;
    }

    &::-moz-focus-inner {
      border: none;
    }

    .#{$prefix}--overflow-menu-options__option--danger & {
      &:focus {
        outline: none;
        border-top: 1px solid $brand-01;
        border-bottom: 1px solid $brand-01;
      }
    }
  }

  .#{$prefix}--overflow-menu-options__option:hover {
    background-color: $ui-03;

    .#{$prefix}--overflow-menu-options__btn {
      color: $text-01;
    }
  }

  .#{$prefix}--overflow-menu--basic {
    top: rem(30px);
    left: rem(-16px);
  }

  .#{$prefix}--overflow-menu--basic.#{$prefix}--overflow-menu--flip {
    margin-left: -5px;
    left: -140px;

    &:before {
      left: 145px;
    }
  }

  .#{$prefix}--overflow-menu--left {
    margin-left: rem(29px);
  }
}
