@import '../../globals/theme/ics-theme';
@import '~carbon-components/src/components/data-table-v2/_data-table-v2.scss';
@import '../../globals/type/ics-typography';
@import '../../globals/icons/icon-reset';

// Child atoms
@import '../Checkbox/checkbox';
@import '../OverflowMenu/overflow-menu';

@include exports('data-table-v2--ics') {
  .#{$prefix}--data-table-v2 {
    border: none;

    .#{$prefix}--data-table-v2-header {
      @include type-scale-item(d, false);
    }

    th {
      border-top: none;
      border-bottom: $data-table-heading-border-bottom;
      padding: 1rem 0 1rem 1rem;
      background: $ui-01;

      &:last-of-type,
      &:first-of-type {
        border-left-color: transparent;
        border-right-color: transparent;
      }
    }

    td {
      border-color: transparent;
      padding: rem(14px) 0 rem(14px) rem(32px);
      @include type-scale-item(b, false);

      &:last-of-type,
      &:first-of-type {
        border-left-color: transparent;
        border-right-color: transparent;
      }
    }

    tr {
      &:hover {
        td {
          border-color: transparent;
          background: none;

          &:first-of-type,
          &:last-of-type {
            border-color: transparent;
          }
        }
      }
    }

    &.#{$prefix}--data-table-v2--zebra {
      tr {
        &:nth-child(even) {
          background: $ui-01;
        }
        &:nth-child(odd) {
          background: $ui-03;
        }
      }
    }

    .#{$prefix}--table-sort-v2 {
      @include type-scale-item(a, false);
      font-weight: 600;
      display: flex;
      flex-direction: row;
      padding: 0.5rem 1rem;
      width: 100%;
      border: 1px solid transparent;
      border-radius: 2px;
      letter-spacing: 1px;
      text-align: left;
      color: $text-01;
      left: -1px;

      .#{$prefix}--table-sort-v2__icon {
        opacity: 1;
        padding: 0;
        @include icon-reset('small');
        max-width: rem(16px);
      }

      &:hover {
        color: $inverse-01;
        background: $brand-01;
        border-color: $brand-01;

        svg {
          fill: $inverse-01;
        }
      }

      &:focus {
        background-color: transparent;
        color: $text-01;
        outline: 1px solid transparent;
        border-color: $brand-01;

        svg {
          fill: $text-01;
          outline: none;
        }
      }
    }

    .#{$prefix}--checkbox-label {
      padding-left: rem(17px);
    }

    .#{$prefix}--form-item {
      &.#{$prefix}--checkbox-wrapper {
        &:first-of-type {
          margin-top: 0;
        }
      }
    }

    .#{$prefix}--overflow-menu {
      &:focus {
        .#{$prefix}--overflow-menu__icon {
          box-shadow: none;
        }
      }

      .#{$prefix}--overflow-menu__icon {
        transform: none;
      }
    }
  }

  // Toolbar (Break into its own component )
  .#{$prefix}--table-toolbar {
    .#{$prefix}--search-input {
      &:focus {
        box-shadow: none;
      }
    }

    ~ .#{$prefix}--btn {
      margin-left: 0;
      margin-right: 0;
    }

    .#{$prefix}--toolbar-content {
      align-items: center;
    }

    .#{$prefix}--toolbar-action {
      padding: 0 0.25rem;
    }
  }
}
