@import '../../globals/theme/ics-theme';
@import 'carbon-components/src/components/link/link';
@import '../../globals/type/ics-typography';

@include exports('link--ics') {
  .#{$prefix}--link {
    @include type-scale-item(b, false);
    transition: $transition--base;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-color: $brand-01;
      outline: none;
      color: $brand-01;
    }
  }

  .#{$prefix}--link--secondary {
    color: $text-01;
    font-weight: 600;

    &:visited {
      color: $text-01;
    }

    &:active,
    &:hover,
    &:focus {
      text-decoration-color: $text-01;
      color: $text-01;
    }
  }
}
