@import '../../globals/theme/ics-theme';
@import '../../globals/type/ics-typography';

// Nested atoms
@import '../Button/button';
@import '../Tabs/tabs';

@include exports('pager--ics') {
  .#{$prefix}--pager {
    @include reset;
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    @include type-scale-item(c);
  }

  .#{$prefix}--pager__center {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    max-width: rem(186px);
    @include bidi-left(rem(49px));
  }

  .#{$prefix}--pager__left {
    position: absolute;
    @include bidi-left(0);
    @include bidi-margin-right(15px);
  }

  .#{$prefix}--pager__right {
    position: absolute;
    @include bidi-left(rem(229px));
  }

  .#{$prefix}--pager__page-item {
    @include type-scale-item(c, false);
    @include border-radius-type('b');
    @include reset;
    width: rem(24px);
    position: relative;
    display: inline-block;
    margin: 0 rem(5px);
    border: 1px solid transparent;
    background: $field-01;

    &:focus {
      outline: none;
      border: 1px solid $brand-01;
    }

    &:hover {
      cursor: pointer;
      color: $ui-01;
      background: $brand-01;
    }
  }

  .#{$prefix}--pager__page-list {
    display: flex;
    color: $text-01;
  }

  .#{$prefix}--pager__button {
    @include border-radius-type('c');
    @include button-reset();
    border: 1px solid $field-01;
    margin: 0 rem(5px);
    height: rem(24px);
    width: rem(24px);
    padding: 0;
    &:hover {
      background: $brand-01;
      border-color: $brand-01;
      .#{$prefix}--tooltip__icon {
        @include border-radius-type('c');
        fill: $inverse-01;
      }
    }

    &:focus {
      outline: none;
      box-shadow: none;
      border: none;
      box-shadow: 0 0 0 1px $ui-01, 0 0 0 2px $brand-01;
    }
  }

  .#{$prefix}--pager__button-icon {
    .#{$prefix}--tooltip__icon {
      height: rem(24px);
      width: rem(24px);
      fill: $ui-05;
      position: relative;
      @include border-radius-type('b');
      bottom: rem(1px);
      @include bidi-right(9px);
      border: 1px solid $field-01;
    }
  }

  .#{$prefix}--pager-item--selected {
    @include type-scale-item(d, false);
    color: $brand-01;

    &::before {
      content: '';
      position: absolute;
      top: rem(28px);
      width: 100%;
      height: rem(4px);
      @include bidi-left(0);
      background: $brand-01;
    }
  }

  .#{$prefix}--pager-ellipsis {
    width: 24px;
    text-align: center;
  }
}
